<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KFTDataInjectorSoap" allowCookies="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://connector.getposition.com:8099/KFTDataInjector.asmx"
                binding="basicHttpBinding" bindingConfiguration="KFTDataInjectorSoap"
                contract="KFTDataInjector.KFTDataInjectorSoap" name="KFTDataInjectorSoap" />
        </client>
    </system.serviceModel>
</configuration>