<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWSMovilPosicionService" allowCookies="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://kft-connector:8099/WSMovilPosicionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSMovilPosicionService"
                contract="KFTMovilPosicion.IWSMovilPosicionService" name="BasicHttpBinding_IWSMovilPosicionService" />
        </client>
    </system.serviceModel>
</configuration>